<h1>This is your card</h1>

<div id="card">
{{#if books.length}}
    <table>
        <thead>
            <th>Title</th>
            <th>Amount</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {{#each books}}
            <tr>
                <td>{{title}}</td>
                <td>{{count}}</td>
                <td>
                    <button class="btn btn-small js-remove" data-id="{{id}}">Delete</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <p><strong>Price:</strong><span class="price">{{price}}</span></p>
{{else}}
    <p>The card is empty...</p>
{{/if}}
</div>